@import "tailwindcss";

/* :root {
  --background: #000000;
  --foreground: #171717;
} */

@theme {
  /* --color-foreground: #151515; */
  --color-primary: #571244;
  --color-secondary: #EF4353;
  --color-subdue: #696969;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
}


 /* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


body {
  font-family: var(--font-nunito);
  background-color: #F9F9F9;
  color: #151515;
};

.section {
  @apply max-w-[1312px] mx-auto px-6;
};

.headings {
  @apply font-semibold text-[20px] lg:text-[40px] tracking-[3%] leading-[150%];
};